@charset "UTF-8";

#wrapper{
	background: url("../images/common/wrap_bg.jpg")no-repeat top center;
}

#header{
	background: url("../images/common/bg_menubox.png")no-repeat 0 0;	
	width:940px;
	height:105px;	
}

#infoMenu{
	text-align: right;
	margin-right: 80px;
	padding: 8px 0px 7px 0px;
	font-size: 0.9em;
}

#infoMenu li{
	display: inline;
	padding: 0px 3px 0px 8px;
}

.logo{
	position: absolute;
	top:30px;
	left:30px;	
}

#navigation{
	width:842px;
	height: 43px;	
	background: url("../images/common/sitemenu_bg.gif")no-repeat 0 0;
}

#navigation li{
	float: left;
}

#navigation li.first{
	margin-left: 217px;	
}

#naviSub01{
	position: absolute;
	top:77px;	
}

#contents{
	width:940px;
	height: 400px;
	background: url("../images/common/contents_box.png")no-repeat 0 0;
}



#subWrap{
	width: 215px;
	height: 200px;
	margin:30px;	
	float: left;
	background: url("../images/common/subwrap_bg.gif")no-repeat 0 0;
}



#subWrap li{
	margin:10px;
	border-bottom: solid medium;
	padding:5px;
	border-color: orange;
}

#subWrap h2{
	padding: 15px;
}

.search{
	margin:10px;
}


#contentsWrap{
	width:590px;
	float: left;
}

.depth{	
	margin:20px;
	padding:5px;	
	border-bottom: solid dotted thin;	
	border-color: gray;
	float: right;
}

#contentsWrap img{
	margin-top:40px;	
	padding:5px;	
}

#contentsArea{
	margin-top:20px;
	border-top: dotted 2px;
	border-color: gray;
	padding: 10px;
	padding-top: 20px;
}


#quick{	
	width:50px;
	float: right;	
}

.sloganImg{
	float: left;
	margin-bottom: 20px;
	margin-left: 80px;
	margin-right: 80px;
}

.guideMenu li{
	display: inline;
	padding: 0px 3px 0px 8px;	
	
}

#footer{
	background: url("../images/common/footerbg.gif")no-repeat 0 0;
}

.footerLogo{
	clear: both;
	float: left;
	margin-left: 80px;	
	margin-bottom: 50px;
}

.sloganCon{
	margin-top: 80px;
	margin-bottom: 20px;
}

#footer address{
	margin-top: 20px;
}
